header {
    display: top;
}
 
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    flex-grow: 1;
}

/*padding for all figures*/
figure {
    padding: 2%;
}

/* specific settings for simulator*/

/* charts have are fixed */
#charts-container {
    flex-grow : 0;
    float: right;
    /* width: 54%; height: 97%;*/
    width: 60%;
    padding: 2%;
}

/* svg grows relative to charts */
#svg-main {
    flex-grow: 1;
    padding-left: 5%;
    float: left;
    /*  width: 45%; height: 97%;*/
}
